
  main h2{
  text-align: center;
  }
  
  main p{
  text-align: center;
  }
 
    header button{
      padding: 10px 25px;
      margin: 25px 0;
      border-radius:55px;
      box-sizing: border-box;
    }
    nav {
      background-color: #d4d4e0;
      color:#464141; 
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      width: 200px;
      animation: fadeIn2 2s ease-in-out forwards;
    }
    nav h1{
      text-align: center;
      color: black;
      font-size: 32px;
      padding: 3;
      margin: 0;
      animation: TextfadeIn 2s ease-in-out forwards;
    
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      margin-bottom: 10px;    
    }
    
    nav a {
      display: block;
      color: #000000;
      padding: 8px 16px;
      text-decoration: none;
      animation: TextfadeIn 2s ease-in-out forwards;
    }
    nav a.active{
      background-color: #5c575b;
      color: rgb(148, 25, 25);
    }
    nav a:hover:not(.active) {
      background-color: #ece2e2;
      color: white;
      transition: background-color 0.3s;
    }
    
    main {
      margin-left: 200px;
      padding: 20px;
    }
    
    main h2 {
      font-size: 2rem;
      margin-top: 0;
    }
    
    footer {
      background-color: #d4d4e0;
      color: #0c0b0b;
      font-size: 0.8rem;
      padding: 10px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      animation: fadeIn2 2s ease-in-out forwards;
    }
  footer p{
    animation: TextfadeIn 2s ease-in-out forwards;
  
  }
  
  main h2 {
    animation: TextfadeIn2 2s ease-in-out forwards;
  }
  main p{
    animation: TextfadeIn2 2s ease-in-out forwards;
  }
  .c1 button a{
    font-size: 20px;
    width: 15%;
    text-decoration: none;
    text-decoration-line: none;
      
  }
  
  .c1 button{
  height: 100%;
   width: 60%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 10px;
   font-weight: 400;
   letter-spacing: 3px;
   cursor: pointer;
   transition: all 0.3s ease;
   background:rgb(255, 255, 255); 
  }
  
  .c1 h2{
    color: rgb(255, 255, 255);
    font-size: 35px;
  }
  div {
    background-color: rgb(191, 200, 209);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(222, 230, 231);
    width: 200px;
    margin: 100px auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .c1 input{
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  
  }
  
  